- name: BACKUP | set timezone to Asia/Bishkek
  timezone:
    name: Asia/Bishkek
  tags:
    - timezone-configuration

- name: BACKUP | Install EPEL Repo package from standart repo
  yum:
    name: epel-release
    state: present
  tags:
    - epel-package
    - packages

- name: BACKUP | Install BORGBACKUP package from EPEL Repo
  yum:
    name: borgbackup
    state: latest
  tags:
    - borgbackup-package
    - packages

- name: BACKUP | Create a new primary partition
  community.general.parted:
    device: /dev/sdb
    number: 1
    state: present

- name: BACKUP | Create a xfs filesystem on /dev/sdb1
  community.general.filesystem:
    fstype: xfs
    dev: /dev/sdb1
  
- name: BACKUP | Add the user 'borg' for backup administration
  ansible.builtin.user:
    name: borg
    comment: Backup Administrator

- name: BACKUP | Create .ssh folder
  ansible.builtin.file:
    path: /home/borg/.ssh/
    state: directory
    owner: borg
    group: borg
    mode: '0700'

- name: BACKUP | Configure key-pair for ssh connection
  copy:
    dest: /home/borg/.ssh/authorized_keys
    src: authorized_keys
    owner: borg
    group: borg
    mode: 0600

- name: BACKUP | Create mountpoint folder
  ansible.builtin.file:
    path: /var/backup/
    state: directory
    owner: borg
    group: borg
    mode: '0750'

- name: BACKUP | Mount a volume
  ansible.posix.mount:
    path: /var/backup
    src: /dev/sdb1
    state: mounted
    fstype: xfs

- name: BACKUP | Change owner to directory
  ansible.builtin.command: chown borg:borg /var/backup/